.product-card .card {
    text-align: center;
    background-color: #e2cbaf;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.548);
    padding-bottom: 25px;
  }
  
  .hora-actual  {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .hora-gif {
     /* Ajusta el tamaño del GIF */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 15px;
    margin-top: 95px;
    justify-content: center;
  }