.ParteSuperior{
    color: black;
    width: 1900px;
}
.general{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin: 0; /* Eliminar márgenes */
}
.bienvenida{
    width: 100%;
    background-color: #e2cbaf;
}
.tituloBienvenida{
    display: flex;
    justify-content: center;  /* Alinea horizontalmente */
    align-items: center;      /* Alinea verticalmente */
    height: 90vh;            /* O cualquier altura que desees */
    margin-left: 450px;
    margin-right: 450px;
    margin-top: -100px;
}
.row {
    margin: 0 auto; /* Centrar filas */
    padding: 0; /* Eliminar padding adicional */
}

.col-md-6 {
    margin: 0 auto; /* Centrar columnas */
}


.recomendaciones{
    background-color: #946f72 ;
    text-align: center;
    height: 800px;
}


.container{
    margin-bottom: 30px;
    width: 100%;
    
}
@media (max-width: 768px) {
    .ParteSuperior{
        margin-top: 100px;
    }
}

@media (max-width: 480px) {
}


